body {
    overflow-x: hidden;
    padding: 2em;
    overflow-y: hidden;
}
.roboto-mono-font {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
#output {
    overflow-y: auto;
    border: 1px solid gray;
    height: 85vh;
    border-radius: 2px;
    padding: 1em;
    background-color: white;
    box-shadow: 0px 0px 3px 3px gray;
}
#title-text {
    font: "Roboto Mono", monospace;
    margin-top: -0.5em;
    text-align: center;
    
}
#input {
    margin-top: 10em;
    box-shadow: 0px 0px 4px 4px #FF8343;
}
.circular-button {
    width: 8.5%; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    margin-left: 45.75%;
    margin-right: 45.75%;
    margin-top: 10%;
    border: none;
    border-radius: 50%; /* Makes the button circular */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF8343;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
    cursor: pointer;
    overflow: hidden; /* Ensures image does not overflow the button */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.circular-button img {
    width: 60%; /* Adjust size as needed */
    height: auto;
}

.circular-button:hover {
    background-color: #f0f0f0; /* Optional hover effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Optional hover effect */
}

.circular-button:active {
    background-color: #e0e0e0; /* Optional active effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional active effect */
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for blur effect */
    backdrop-filter: blur(5px); /* Applies blur to the background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensures it is on top of other content */
}

/* Loader styling */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 3px;
    background: 
        radial-gradient(farthest-side, #ffa516 95%, #0000) 50% 0/12px 12px no-repeat,
        radial-gradient(farthest-side, #0000 calc(100% - 5px), #ffa516 calc(100% - 4px)) content-box;
    animation: l6 2s infinite;
}

@keyframes l6 {
    to {
        transform: rotate(1turn);
    }
}